.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Home */

.background-img{
  background-image: url('./img/back-img.jpg');
  background-size: 100% 100%;  
  background-repeat: no-repeat;
  height: 770px;
  object-fit: contain;

}

.main-head{
  position: relative;
  color: white;
  top: 180px;
}

.btn-div{
  justify-content: center;
  display: flex;
}

.main-btn{
  background-color: #282c34;
  border-radius: 60px;  
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
  border: none;
}
.main-btn a{
  text-decoration: none;
  color: white;
  font-size: 30px;
}
.main-btn2{
  background-color: transparent;
  border: 5px solid white;
  border-radius: 60px;  
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 70px;
  padding-right: 70px;
  margin-left: 20px;
}
.main-btn2 a{
  text-decoration: none;
  color: white;
  font-size: 30px;
}

.container1{
  color: grey;
  width: 100%;
  height: 100%;
  padding-top: 150px;
  padding-bottom: 150px;
  padding-left: 350px;
  padding-right: 350px;
}
.container5{
  color: grey;
  width: 100%;
  height: 100%;
  padding-top: 150px;
  padding-bottom: 150px;
  padding-left: 150px;
  padding-right: 150px;
}
.container6{
  justify-content: left !important;
  text-align: left !important;
  color: grey;
  width: 100%;
  height: 100%;
  padding-top: 150px;
  padding-bottom: 150px;
  padding-left: 150px;
  padding-right: 150px;
}

.container1 p{
  margin-top: 40px;
}

.container2{
  background-color: black;
  color: white;
  width: 100%;
  height: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 150px;
  padding-right: 150px;
  display: flex;
  justify-content: space-between;
}

.church-img{
  background-image: url('./img/sunday-service.jpg');
  background-size: 100% 100%; 
  background-repeat: no-repeat;
  }

  p{
    font-size: 20px;
  }

.container3{
  background-color: #2E3033;
  color: white;
  width: 100%;
  height: 100%;
  padding-top: 200px;
  padding-bottom: 200px;
  padding-left: 150px;
  padding-right: 150px;
}
  
  .form-src{
    justify-content: center;
    text-align: left;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 240px;
    padding-left: 20px;
    margin-top: 10px;
    border: 1px solid #D5D5D5;
    margin-left: 5px;
    font-size: 20px;
  }
  #btn{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 80px;
    padding-right: 80px;
    font-size: 20px;
    margin-left: 5px;
    background-color: black;
    color: white;
  }
  #btn a{
    color: white;
    text-decoration: none;
  }

  .container4{
    background-color: black;
    color: white;
    width: 100%;
    height: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 150px;
    padding-right: 150px;
  }
.card-img{
  border-radius: 10px;
  margin-bottom: 20px;
}

.card-row{
  justify-content: center;
  align-items: center;

}

.card-btn{
  background-color: #282c34;
  border-radius: 40px;  
  margin-bottom: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 35px;
  padding-right: 35px;

}

.card-btn a{
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.container-aboutus{
  background-color: black;
    color: white;
    width: 100%;
    height: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 150px;
    padding-right: 150px;
    margin-top: 150px;
}

#contact-email{
  padding-right: 320px;
}

#text-area{
  width: 90%;
  height: 100px;
  margin-left: 5px;
}

.submit-btn{
  margin-top: 30px;
  margin-left: 56pc !important;
  align-items: center;
  justify-content: center;
}
.form-row{
  margin-left: 0 !important;
}
.form-text{
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: 20px;
}