.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Home */

.background-img{
  background-image: url('./img/back-img.jpg');
  background-size: 100% 100%;  
  background-repeat: no-repeat;

}

.main-head{
  position: relative;
  bottom: 80px;
  color: white;
  padding-top: 290px; 
  padding-bottom: 290px;
}

.container1{
  color: grey;
  width: 100%;
  height: 100%;
  padding-top: 200px;
  padding-bottom: 200px;
  padding-left: 350px;
  padding-right: 350px;
}

.container1 p{
  margin-top: 40px;
  font-size: 20px;
}

.container2{
  background-color: black;
  color: white;
  width: 100%;
  height: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 150px;
  padding-right: 150px;
  display: flex;
  justify-content: space-between;
}

.church-img{
  background-image: url('./img/church-img.jpg');
  background-size: 100% 100%; 
  background-repeat: no-repeat;
  }

  p{
    font-size: 20px;
  }

.container3{
  background-color: #2E3033;
  color: white;
  width: 100%;
  height: 100%;
  padding-top: 200px;
  padding-bottom: 200px;
  padding-left: 150px;
  padding-right: 150px;
}
  
  .form-src{
    justify-content: center;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 120px;
    padding-right: 120px;
    margin-top: 10px;
    border: 1px solid #D5D5D5;
    border-radius: 5px;
    margin-left: 5px;
    font-size: 20px;
  }
  #btn{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 80px;
    padding-right: 80px;
    font-size: 20px;
    margin-left: 5px;
    border-radius: 5px;
    background-color: black;
    color: white;
  }
  #btn a{
    color: white;
    text-decoration: none;
  }

  .container4{
    background-color: black;
    color: white;
    width: 100%;
    height: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 150px;
    padding-right: 150px;
  }
  
  .event-cards{
    background-color: aquamarine;
    width: 100%;
    height: 100%;
  }